plantvillage dataset/
color/
grayscale/

# Model files
*.h5
*.hdf5

# Dataset files
*.csv
data/
dataset/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Python environment and OS artifacts
venv/
*.pyo
*.pyd
.env
.DS_Store

# Notebooks and model files
*.ipynb

*.keras
